*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
  font-size: 16px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 5px;
  background-color: #057c05;
}

header {
  font-family: "Nabla", cursive;
  font-size: 4rem;
  padding: 30px;
  display: flex;
  justify-content: center;
}

.game-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button {
  margin: 2vh;
  padding: 5px;
}

.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin: 5px;
  color: #ffffff;
}

.mat-background {
  width: 45rem;
  height: 36rem;
  display: flex;
  background-color: rgb(12, 71, 17);
  padding: 30px;
  margin: 20px;
  justify-content: center;
  border-radius: 65px;
}

.cards {
  width: 16rem;
  height: 25rem;
  display: flex;
  background-color: #ffffff;
  padding: 5px;
  margin: 40px;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 20px;
}

.cards-result-message {
  width: 24em;
  height: 3rem;
  margin: 10px;
  padding: 5px;
  color: #ffffff;
  text-align: center;
  font-size: 3rem;
}
.card-upper-numeration {
  padding: 10px 0 0 15px;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
}

.card-bottom-numeration {
  padding: 0 15px 10px 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  display: inline-flex;
  justify-content: flex-end;
}
.card-suit {
  font-size: 200px;
  display: inline-flex;
  justify-content: center;
}

.choice {
  margin: 5px;
  padding: 2px;
}

.greater-button {
  margin-right: 30px;
}

.smaller-button {
  margin-left: 30px;
}

.initial-mesage {
  font-size: 2rem;
}

footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  color: #ffffff;
}

.hidden {
  display: none;
}
